[submodule "tma_study/3rdparty/cutlass"]
	path = tma_study/3rdparty/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "3rdparty/cutlass"]
	path = 3rdparty/cutlass
	url = https://github.com/NVIDIA/cutlass.git
